*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
    cursor:pointer;
}
header{
    width: 100%;
    height: 6rem;
    font-size: 1.6rem;
}
header nav{
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section{
    width: 25rem;
    height: 6rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .nav-right-section a{
    margin-right: 1rem;
    color: #000000;
}