*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
/* img{
    width: 50%;
} */
.lista-header{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: right;
    text-decoration: none;
    padding: 10px;
    
}
.item-header{
    padding: 5px;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.aheader{
    font-size: 1.5rem;
}
.img-app{
    height: 100%;
    width: 100%;
    width: 30px;
}
.img-google{
    width: 270px;
    height: 160px;
    margin: 5px auto ;
}
.container-buscador{
    height: 58rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px;
}
.container-input{
    display: flex;
    justify-content: center;
}
input{
    width: 55rem;
    height: 44px;
    border-radius: 20px;
    border: rgb(218, 212, 212) solid 2px;
    padding: 15px;
    font-size: 1.4rem;
    padding-left: 35px;
}
.img-search{
    width: 1.6rem;
    height: 1.7rem;
    position: relative;
    top: 1.2rem;
    right: 53.5rem;
}
.img-microphone{
    width: 2.8rem;
    height: 2.8rem;
    position: relative;
    top: 0.7rem;
    right: 5.5rem;
}
.container-btn{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.btn-search{
    width:14rem;
    height: 3.5rem;
    padding: 8px;
    border: none;
    border-radius: 5px;
    color: rgb(107, 107, 107);
}
.btn1{
    margin-right: 1rem;
}
.btn2{
    margin-left: 1rem;
}
/*footer*/
.container-footer{
    display: flex;
    flex-direction:row ;
    font-size: 2rem;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    border-top: 1px solid rgb(128, 127, 127);
}
.lista{
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 50%;
    line-height: 1rem;
}
.lista-footer1{
    justify-content: start;
}
.lista-footer2{
    justify-content: end;
}
.item-footer{
    margin-right: 1.6rem;
}
.item1{
    margin-left: 1.6rem;
}


/* .lista-footer1{
    display: inline-block;
    border: 0.1rem solid black;
    width: 50%;
    /* display: flex;
    flex-direction: row; */
    /* list-style: none;
}
.lista-footer2{
    display: inline-block;
    /* display: flex;
    flex-direction: row; */
    /* list-style: none;
}
.item-footer{
    display: inline-block;
}  */